body {
  background: #333645;
  color: #fff;
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

* {
  box-sizing: border-box; }

li {
  list-style: none;
  cursor: pointer; }

a {
  text-decoration: none; }

button {
  outline: none;
  border: none;
  border-radius: .1rem;
  margin: 0 1rem;
  cursor: pointer; }

body {
  z-index: 5 !important; }

.app {
  width: 100%;
  overflow: hidden; }

.navbar {
  box-sizing: border-box;
  width: 100%;
  background: #333645;
  padding: .5rem;
  position: fixed;
  top: 0;
  z-index: 100; }
  .navbar .hamburger_menu {
    display: none; }
  .navbar .collapse_menu {
    display: none;
    transition: all 1s ease-in-out; }
  .navbar .navbar_inner {
    box-sizing: border-box;
    width: 1280px;
    height: 6rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0; }
  .navbar .logo {
    width: 174px;
    height: 100%; }
    .navbar .logo img {
      width: 100%;
      height: 100%;
      object-fit: contain; }
  .navbar .nav_links ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0; }
    .navbar .nav_links ul li a {
      width: 100%;
      height: 100%;
      padding: 2.8rem 2.5rem;
      color: #fff;
      transition: all .5s ease-in-out;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 1.2rem;
      font-weight: 700; }
      .navbar .nav_links ul li a:hover {
        background: #292b37;
        color: #e19503; }
      .navbar .nav_links ul li a.active {
        background: #292b37;
        color: #e19503; }
    .navbar .nav_links ul button {
      background: #e19503;
      color: #333645;
      padding: .6rem 2rem;
      font-size: 1rem;
      font-weight: 400;
      color: #fff; }

.slider {
  width: 100%;
  height: 100vh;
  position: relative;
  background: black; }
  .slider .arrow_left {
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translate(2rem, -50%);
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 1rem;
    transform: rotate(135deg);
    cursor: pointer;
    z-index: 11; }
  .slider .arrow_right {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translate(2rem, -50%);
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 1rem;
    transform: rotate(-45deg);
    cursor: pointer;
    z-index: 11; }
  .slider .slider_inner {
    position: relative;
    width: 100%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    text-align: center; }
    .slider .slider_inner .slide_one {
      position: absolute;
      width: 100%;
      height: 100%;
      background: url(/assets/wines.jpg) center center no-repeat/cover;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: all .5s ease-in-out;
      padding: 2rem; }
      .slider .slider_inner .slide_one div {
        width: 1280px;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        .slider .slider_inner .slide_one div img {
          width: 12rem; }
        .slider .slider_inner .slide_one div .grapes_icon {
          background: url(/assets/grape.png) center center no-repeat/cover;
          width: 3rem;
          height: 3rem; }
        .slider .slider_inner .slide_one div .thunder_icon {
          display: flex;
          align-items: center;
          flex-direction: row; }
          .slider .slider_inner .slide_one div .thunder_icon span {
            height: .2rem;
            width: 3rem;
            background: #e19503;
            margin-right: .5rem;
            margin-left: .5rem; }
          .slider .slider_inner .slide_one div .thunder_icon .fa-wine-glass-alt {
            color: #e19503; }
        .slider .slider_inner .slide_one div button {
          padding: 1rem;
          background: #e19503;
          color: #333645;
          font-weight: bold;
          transition: all 200ms ease-in-out; }
          .slider .slider_inner .slide_one div button:hover {
            transition: all 200ms ease-in-out;
            background: #fff; }
      .slider .slider_inner .slide_one img {
        position: absolute;
        top: 0;
        left: 0; }
      .slider .slider_inner .slide_one::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(40, 40, 45, 0.9); }
    .slider .slider_inner img {
      width: 5rem;
      object-fit: contain; }

.contact {
  background: #fff; }
  .contact .contact_inner {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    padding: 3.5rem;
    justify-content: space-around;
    align-items: center;
    color: #333645;
    text-align: center;
    flex-wrap: wrap; }
    .contact .contact_inner h3 {
      color: #e19503;
      padding: 0;
      margin: 1rem; }
    .contact .contact_inner span {
      font-size: 1.5rem; }

.about {
  background: url(/assets/wines1.jpg) center center no-repeat/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4rem;
  position: relative; }
  .about::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(211, 211, 211, 0.8); }
  .about .about_headline {
    width: 600px;
    text-align: center;
    z-index: 1;
    padding-bottom: 5rem;
    color: #333645; }
    .about .about_headline h1 {
      border-bottom: 0.2rem solid #333645;
      z-index: 1;
      font-size: 3rem;
      padding: 1rem; }
    .about .about_headline p {
      font-size: 1.4rem; }
  .about .about_section {
    z-index: 9;
    width: 1280px;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .about .about_section div {
      padding: 1rem;
      background: black;
      margin: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      box-shadow: 0px 6px 19px -6px rgba(0, 0, 0, 0.75); }
      .about .about_section div p {
        font-size: 1.2rem; }
      .about .about_section div button {
        display: block;
        width: 100%;
        padding: 1rem 2rem;
        background: #e19503;
        color: #fff;
        font-weight: 700; }
    .about .about_section .quality_garantee {
      background: #fff;
      color: #636363; }
    .about .about_section .years_of_expirience {
      background: #fff;
      color: #636363; }
    .about .about_section .catalog {
      background: #333645;
      color: #d3d3d3; }
      .about .about_section .catalog i {
        color: #e19503; }

.electrical_servies {
  padding-bottom: 4rem;
  background: #333645; }
  .electrical_servies .electrical_services_headline {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 5rem;
    width: 600px;
    margin: 0 auto; }
    .electrical_servies .electrical_services_headline h1 {
      border-bottom: 0.2rem solid #e19503;
      z-index: 1;
      font-size: 3rem;
      padding: 1rem; }
    .electrical_servies .electrical_services_headline p {
      font-size: 1.4rem; }
  .electrical_servies .electrical_services_head {
    background: #e19503;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem; }
    .electrical_servies .electrical_services_head p {
      font-size: 1.5rem;
      margin-right: 5rem; }
    .electrical_servies .electrical_services_head button {
      background: #333645;
      color: #d3d3d3;
      padding: 1rem 2rem;
      font-size: 1.1rem; }
  .electrical_servies .electrical_services_body_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
    padding: 2rem;
    width: 1280px;
    margin: 0 auto; }
    .electrical_servies .electrical_services_body_grid div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      padding: 1rem; }
      .electrical_servies .electrical_services_body_grid div i {
        border: 1px solid #e19503;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 7rem;
        height: 7rem; }
      .electrical_servies .electrical_services_body_grid div p {
        color: #d3d3d3;
        font-size: 1.1rem; }
      .electrical_servies .electrical_services_body_grid div button {
        padding: .6rem 2rem;
        background: #e19503; }

.works_and_projects {
  background: url(/assets/wines3.jpg) center center no-repeat/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative; }
  .works_and_projects::before {
    content: '';
    position: absolute;
    top: -3.8rem;
    bottom: 0;
    width: 100%;
    height: 150px;
    background: #333645;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    transform: scale(1.1);
    z-index: 1; }
  .works_and_projects::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(230, 230, 230, 0.8); }
  .works_and_projects .works_and_projects_headline {
    padding-top: 6rem;
    width: 600px;
    text-align: center;
    z-index: 1;
    padding-bottom: 5rem;
    color: #333645; }
    .works_and_projects .works_and_projects_headline h1 {
      border-bottom: 0.2rem solid #333645;
      z-index: 1;
      font-size: 3rem;
      padding: 1rem; }
    .works_and_projects .works_and_projects_headline p {
      font-size: 1.4rem; }
    .works_and_projects .works_and_projects_headline button {
      padding: .6rem 2rem;
      background: #e19503;
      color: #fff; }

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 'project1 project2 project2 project3' 'project1 project4 project4 project3' 'project5 project5 project6 project6';
  grid-gap: 25px;
  z-index: 1;
  padding: 4rem 4rem 15rem 4rem;
  width: 1280px;
  position: relative; }
  .grid-container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100px;
    background: #333645;
    z-index: 1;
    bottom: 0;
    border-radius: 0 0 50% 50%/0 0 100% 100%;
    transform: rotate(180deg) scale(1.6); }
  .grid-container div {
    border-radius: .3rem;
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 200px; }
    .grid-container div:nth-child(1), .grid-container div:nth-child(3), .grid-container div:nth-child(5), .grid-container div:nth-child(6) {
      height: 425px; }
    .grid-container div::before {
      content: '';
      position: absolute;
      background: rgba(0, 0, 0, 0.9);
      width: 100%;
      height: 0%;
      top: 0;
      left: 0;
      transition: all .5s ease-in-out; }
    .grid-container div:hover::before {
      transition: all .5s ease-in-out;
      height: 100%; }
    .grid-container div img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

.item1 {
  grid-area: project1; }

.item2 {
  grid-area: project2; }

.item3 {
  grid-area: project3; }

.item4 {
  grid-area: project4; }

.item5 {
  grid-area: project5; }

.item6 {
  grid-area: project6; }

.testimonials {
  padding: 2rem;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #333645; }
  .testimonials h2 {
    text-align: center;
    font-size: 3rem;
    border-bottom: .2rem solid #d3d3d3;
    width: 600px;
    margin: 0 auto;
    color: #d3d3d3;
    padding: 1rem; }
  .testimonials .testimonials_slider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 800px;
    height: 450px; }
    .testimonials .testimonials_slider div {
      position: absolute;
      display: flex;
      opacity: 0;
      padding: 5rem;
      text-align: center;
      margin: 0 auto;
      width: 960px;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      transition: all 1s ease-in-out; }
      .testimonials .testimonials_slider div img {
        width: 10rem;
        height: 10rem;
        border-radius: 50%; }
      .testimonials .testimonials_slider div p {
        font-style: italic;
        font-size: 1.5rem; }
      .testimonials .testimonials_slider div .testiomonial_work {
        color: #d3d3d3;
        font-size: 1.1rem;
        font-weight: 200; }
      .testimonials .testimonials_slider div .testimonial_name {
        color: #e19503;
        font-weight: bold;
        font-size: 1.1rem; }
  .testimonials .slider_dots {
    display: flex;
    justify-content: center;
    align-items: center; }
    .testimonials .slider_dots span {
      margin: .5rem;
      width: 1rem;
      height: 1rem;
      background: transparent;
      border: .1rem solid #d3d3d3;
      cursor: pointer;
      border-radius: 50%; }
      .testimonials .slider_dots span.active {
        background: #fff; }

.blogs {
  background: url(/assets/blogs_background.jpg) center center no-repeat/cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1; }
  .blogs::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7); }
  .blogs .blogs_headline {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 5rem;
    width: 600px;
    margin: 0 auto;
    z-index: 1; }
    .blogs .blogs_headline h1 {
      border-bottom: 0.2rem solid #333645;
      z-index: 1;
      font-size: 3rem;
      padding: 1rem;
      color: #333645; }
    .blogs .blogs_headline p {
      font-size: 1.4rem;
      color: #333645; }
  .blogs .blog_grid {
    padding-bottom: 4rem;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    width: 1280px;
    margin: 0 auto;
    grid-template-areas: 'blog1 blog2 blog3 blog 4' 'blog5 blog6'; }
    .blogs .blog_grid:nth-child(1) {
      grid-area: 'blog1'; }
    .blogs .blog_grid:nth-child(2) {
      grid-area: 'blog2'; }
    .blogs .blog_grid:nth-child(3) {
      grid-area: 'blog3'; }
    .blogs .blog_grid:nth-child(4) {
      grid-area: 'blog4'; }
    .blogs .blog_grid:nth-child(5) {
      grid-area: 'blog5'; }
    .blogs .blog_grid .blog {
      background: #fff;
      color: #333645;
      box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.75);
      display: flex;
      flex-direction: column; }
      .blogs .blog_grid .blog img {
        width: 100%;
        height: 250px;
        object-fit: cover; }
      .blogs .blog_grid .blog .blog_headline {
        color: #d3d3d3;
        background: #333645;
        padding: 1rem; }
        .blogs .blog_grid .blog .blog_headline h2, .blogs .blog_grid .blog .blog_headline p {
          padding: 0;
          margin: 0; }
        .blogs .blog_grid .blog .blog_headline p {
          color: #999999; }
      .blogs .blog_grid .blog .blog_footer {
        padding: 1rem;
        line-height: 1.5rem; }

.subscribe {
  background: #292b37;
  padding: 4rem;
  width: 100%;
  margin-bottom: 500px; }
  .subscribe div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1280px;
    margin: 0 auto; }
  .subscribe .subscribe_headline {
    display: block;
    padding: 2rem; }
    .subscribe .subscribe_headline h2 {
      text-align: left;
      border-bottom: 1px solid #d3d3d3;
      font-size: 1.6rem; }
  .subscribe .subscribe_form form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    justify-content: center; }
    .subscribe .subscribe_form form input {
      padding: .5rem;
      width: 20rem;
      border-radius: 0.1rem;
      outline: none;
      border: none;
      height: 2.5rem; }
    .subscribe .subscribe_form form input[type=submit] {
      background: #e19503;
      outline: none;
      border: none;
      border-radius: 0.1rem;
      cursor: pointer;
      font-size: 1.1rem;
      color: #fff; }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  z-index: -1; }
  .footer .footer_wraper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    color: #bfbfbf;
    width: 1280px;
    height: 400px; }
    .footer .footer_wraper h2 {
      color: #fff; }
    .footer .footer_wraper .company_info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center; }
      .footer .footer_wraper .company_info ul {
        padding: 0;
        margin: 0;
        text-align: center; }
        .footer .footer_wraper .company_info ul li {
          margin: .5rem; }
        .footer .footer_wraper .company_info ul a {
          padding: 1rem;
          color: #bfbfbf; }
      .footer .footer_wraper .company_info .social_icons {
        padding-top: 2rem; }
        .footer .footer_wraper .company_info .social_icons i {
          width: 3.2rem;
          height: 3.2rem;
          text-align: center;
          line-height: 3rem;
          margin: .5rem;
          background: #292b37;
          border-radius: 50%;
          cursor: pointer;
          transition: all 500ms ease-in-out; }
          .footer .footer_wraper .company_info .social_icons i:hover {
            color: #e19503;
            transition: all 500ms ease-in-out;
            background: #fff; }
    .footer .footer_wraper .our_services {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .footer .footer_wraper .our_services ul {
        padding: 0;
        margin: 0;
        width: 100%;
        text-align: center; }
        .footer .footer_wraper .our_services ul li {
          padding: .5rem;
          margin: .5rem;
          border-bottom: 1px solid #575757;
          width: 100%; }
      .footer .footer_wraper .our_services a {
        text-align: center;
        color: #bfbfbf;
        font-size: 1.2rem; }
        .footer .footer_wraper .our_services a:hover {
          color: #e19503; }
    .footer .footer_wraper .accreditations {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .footer .footer_wraper .accreditations img {
        width: 200px;
        object-fit: contain; }
  .footer .copyright {
    padding: 2rem;
    width: 100%;
    text-align: center;
    background: #292b37; }
    .footer .copyright span {
      color: #e19503; }
